<div>
  <.form for={@form} phx-change="change-input">
    <.label for="input">Input</.label>
    <.input type="text" name="input" value={@form[:input]} />
  </.form>
</div>

<div>
  <%= @output %>
</div>
