<div phx-window-keydown="handle-key-keydown">
  <Tiles.render game={@game} />

  <hr class="mt-10" />

  <Keyboard.render game={@game} />

  <ModalGameOver.render :if={@game.state != :playing} id="modal-game-over" game={@game} />
</div>
