<div phx-window-keydown="handle-key-keydown">
  <p class="bg-amber-100 border mb-5 p-3 rounded-md text-center">
    <%= inspect(@game) %>
  </p>

  <WordleComponent.tiles game={@game} />

  <hr class="mt-5" />

  <WordleComponent.keyboard />
</div>
